.active svg {
  background-color: #c5c5c554 !important;
  padding: 9px;
  border-radius: 5px;
  font-size: 3rem !important;
}

.auth-phone-input .PhoneInput {
  background-color: #ffffff !important;
}
.auth-phone-input .PhoneInputInput:focus {
  outline: none !important;
}
